@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif; }

.navbar {
  padding: 10px 30px;
  height: 80px; }
  .navbar .container-fluid {
    flex-wrap: no-wrap; }
  @media (max-width: 767px) {
    .navbar {
      padding: 10px 0px; } }
  .navbar ul li {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 300;
    padding: 10px 20px; }
    .navbar ul li.active {
      color: #006ac7;
      font-weight: 600;
      background: #E8F5FF;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 8px; }
      .navbar ul li.active:hover {
        background: #D1EBFF; }
    @media (max-width: 991px) {
      .navbar ul li.pop {
        display: none; } }

#main {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.home {
  padding-top: 60px;
  width: 100%;
  margin-bottom: 100px; }
  .home .log {
    max-width: 500px;
    margin: 0 auto;
    padding: 48px;
    box-shadow: 0 1px 3px rgba(33, 124, 193, 0.08), 0 2px 8px rgba(4, 94, 184, 0.12);
    border-radius: 10px; }
    .home .log p {
      text-align: center;
      display: block;
      font-size: 18px;
      margin-top: 15px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.6); }
      .home .log p a {
        font-weight: 600;
        color: #006ac7;
        text-decoration: none; }
    .home .log h2 {
      font-weight: 700; }
    @media (max-width: 500px) {
      .home .log {
        padding: 20px; } }
    .home .log form .form-group {
      position: relative; }
      .home .log form .form-group .eys {
        position: absolute;
        height: 38px;
        width: 35px;
        border-radius: 6px;
        right: 14px;
        top: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        .home .log form .form-group .eys .bi-eye-slash {
          display: none; }
        .home .log form .form-group .eys:hover {
          background: #D1EBFF; }
        .home .log form .form-group .eys:hover .eyes {
          color: #006ac7; }
        .home .log form .form-group .eys .eyes {
          font-size: 20px;
          color: rgba(0, 0, 0, 0.7); }
      .home .log form .form-group label {
        position: absolute;
        color: rgba(15, 47, 71, 0.66);
        font-size: 17px;
        left: 16px;
        top: 17px;
        transition: 0.2s; }
      .home .log form .form-group input {
        height: 56px;
        background: #F2F9FF;
        padding: 20px 50px 6px 16px;
        border-radius: 6px;
        border: 2px solid #fff;
        border-bottom: 2px solid #5B7485; }
        .home .log form .form-group input:hover {
          background: #E8F5FF; }
        .home .log form .form-group input:focus {
          box-shadow: none;
          border: 2px solid #006ac7; }
    .home .log form .bom {
      padding-top: 30px; }
      .home .log form .bom .btn {
        height: 56px;
        border-radius: 6px;
        background: #006ac7;
        font-weight: 600;
        color: white;
        font-size: 18px;
        width: 100%;
        transition: 0.2s; }
        .home .log form .bom .btn:hover {
          background: #134e8a; }

.fotter {
  background: #002E5C;
  padding-bottom: 20px;
  margin-top: auto; }
  .fotter ul li {
    color: white;
    font-size: 14px;
    padding: 20px 0 0 0;
    font-weight: 500;
    margin-right: 20px;
    border-bottom: 1px solid #006ac7; }

section .container {
  background: white;
  box-shadow: 0px -10px 80px 2px rgba(0, 0, 0, 0.2);
  max-width: 1000px; }
  section .container header {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    text-align: center; }
    section .container header .mag {
      display: flex; }
      section .container header .mag .loop {
        display: none; }
        @media (max-width: 767px) {
          section .container header .mag .loop {
            display: flex; } }
      section .container header .mag svg {
        width: 95px; }
        @media (max-width: 767px) {
          section .container header .mag svg {
            width: 71px; } }
    section .container header ul {
      align-items: center; }
      section .container header ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px; }
        section .container header ul li.active {
          width: 250px;
          border: 1px solid #ccc;
          padding: 0 0px 0 8px; }
          @media (max-width: 767px) {
            section .container header ul li.active {
              width: 40px;
              padding: 0 0px 0 0px; } }
          section .container header ul li.active img, section .container header ul li.active svg {
            width: 50px;
            margin-right: -8px; }
            @media (max-width: 767px) {
              section .container header ul li.active img, section .container header ul li.active svg {
                margin-right: -2px; } }
          section .container header ul li.active p {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            margin-bottom: 0; }
            @media (max-width: 767px) {
              section .container header ul li.active p {
                display: none; } }
        section .container header ul li.lock {
          background: #148dea;
          border-radius: 4px;
          padding: 0 15px 0 8px;
          margin-left: 20px; }
          @media (max-width: 767px) {
            section .container header ul li.lock {
              padding: 0 6px 0 6px; } }
          section .container header ul li.lock img, section .container header ul li.lock svg {
            width: 30px;
            width: 30px; }
          section .container header ul li.lock p {
            margin-bottom: 0;
            font-size: 14px;
            color: white;
            margin-left: 10px;
            display: block; }
            @media (max-width: 767px) {
              section .container header ul li.lock p {
                display: none; } }
  section .container .grayp {
    padding-top: 15px; }
    section .container .grayp .left ul {
      list-style: none;
      padding-left: 0; }
      section .container .grayp .left ul li {
        border-bottom: 1px solid #ccc;
        padding: 12px 0; }
    section .container .grayp .right h5 {
      margin-top: 20px; }
    section .container .grayp .right .forma {
      background: #F2F2F2;
      border: 1px solid #E2E2E2;
      border-radius: 4px; }
      section .container .grayp .right .forma .step {
        padding: 15px;
        border-bottom: 1px solid #ccc;
        background: white; }
        section .container .grayp .right .forma .step ul {
          align-items: center;
          justify-content: space-between; }
          section .container .grayp .right .forma .step ul li {
            width: 25%;
            display: flex;
            align-items: center; }
            section .container .grayp .right .forma .step ul li span {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              height: 20px;
              border-radius: 100%;
              font-size: 13px;
              font-weight: 600;
              position: relative; }
              section .container .grayp .right .forma .step ul li span.lava:after {
                position: absolute;
                background: white;
                width: 20px;
                height: 20px;
                content: '';
                top: 24px;
                transform: rotate(45deg); }
            section .container .grayp .right .forma .step ul li p {
              font-size: 11px;
              color: rgba(0, 0, 0, 0.7);
              margin-bottom: 0;
              margin-left: 10px;
              display: block;
              font-weight: 500; }
      section .container .grayp .right .forma .login {
        padding: 20px 10px; }
        section .container .grayp .right .forma .login span {
          font-size: 16px;
          display: block;
          margin-bottom: 50px; }
        section .container .grayp .right .forma .login p {
          margin-top: 50px;
          font-size: 15px; }

/*# sourceMappingURL=lol.css.map */
