@import "all_mixing/media/screen";
@import "all_mixing/font/font_family";
@import "all_mixing/color/colors";

body{
	margin:0;
	padding:0;
	@include Outfit;
}

.navbar{
	padding:10px 30px;
	height:80px;
	.container-fluid{
		flex-wrap:no-wrap;
	}
	&{
		@include breakpoints(mobile) {
			padding:10px 0px;
		}
	}
	ul{
		li{
			margin-left:10px;
			font-size: 17px;
			font-weight: 300;
			padding:10px 20px;
			&.active{
				color:$blue;
				font-weight: 600;
				background:#E8F5FF;
				padding:10px 20px;
				cursor: pointer;
				border-radius:8px;
				&:hover{
					background: #D1EBFF;
				}
			}
			&.pop{
				@include breakpoints(medium) {
					display: none;
				}
			}
		}
	}
}

#main{
	display: flex;
	flex-direction: column;
	height:100vh;
}

.home{
	padding-top:60px;
	width:100%;
	margin-bottom:100px;
	.log{
		max-width:500px;
		margin:0 auto;
		padding:48px;
		box-shadow: 0 1px 3px rgba(33,124,193,0.08),0 2px 8px rgba(4,94,184,0.12);
		border-radius:10px;
		p{
			text-align: center;
			display: block;
			font-size:18px;
			margin-top:15px;
			font-weight: 300;
			color:rgba(0,0,0,0.6);
			a{
				font-weight:600;
				color: $blue;
				text-decoration: none;
			}
		}
		h2{
			font-weight:700;
		}
		&{
			@include breakpoints(motorola) {
				padding:20px;
			}
		}
		form{
			.form-group{
				position:relative;
				.eys{
					position:absolute;
					height:38px;
					width:35px;
					border-radius:6px;
					right: 14px;
                    top: 9px;
                    display: flex;
                    justify-content: center;
                    align-items:center;
                    cursor: pointer;
                    .bi-eye-slash{
                    	display: none;
                    }
                    &:hover{
                    	background: #D1EBFF;
                    }
                    &:hover .eyes{
                    	color:$blue;
                    }
                    .eyes{
                        font-size:20px;
                        color:rgba(0,0,0,0.7);
                    }
				}
				label{
				    position: absolute;
				    color: rgba(15,47,71,.66);
				    font-size: 17px;
				    left: 16px;
                    top: 17px;
                    transition: 0.2s;
				}
				input{
					height: 56px;
                    background: #F2F9FF;
                    padding: 20px 50px 6px 16px;
                    border-radius: 6px;
                    border:2px solid #fff;
                    border-bottom: 2px solid #5B7485;
                    &:hover{
                    	background: #E8F5FF;
                    }
                    &:focus{
                    	box-shadow: none;
                    	border: 2px solid $blue;
                    }
				}
			}
			.bom{
				padding-top:30px;
				.btn{
					height: 56px;
					border-radius: 6px;
					background:$blue;
					font-weight: 600;
					color:white;
					font-size:18px;
					width:100%;
					transition:0.2s;
					&:hover{
						background:#134e8a;
					}
					.box {
						display: inline-block;
						width: 200px;
						height: 200px;
						border: 1px solid currentcolor;
						border-radius: 3px;
						font-size: 30px;
						padding: 1em;
						position: relative;
						margin-bottom: .25em;
						vertical-align: top;
						transition: .3s color, .3s border, .3s transform, .3s opacity;
						// &:not(:hover) {
						// 	[class*="loader-"] {
						// 		animation: none;
						// 		&:before, &:after {
						// 			animation: none;
						// 		}
						// 	}
						// }
						&:hover {
							color: #fff; //#d60b52;
							background-color: rgba(0,0,0,.1);
							font-size: 0;
							padding: 0;
							border-width: 3px;
							line-height: 200px;
							opacity: 1;
							transform: scale(1.2);
							z-index: 2;
							[class*="loader-"] {
								font-size: 70px;
								line-height: 200px;
							}
						}
					}
				  .loader-13:before,
		          .loader-13:after,
		          .loader-13 {
		            border-radius: 50%;
		            animation-fill-mode: both;
		            animation: loader-13 1.8s infinite ease-in-out;
		          }

		          .loader-13 {
		            color: currentcolor;
		            position: relative;
		            transform: translateZ(0);
		            animation-delay: -0.16s;
		            top: -1em;
		            &:before {
		              right: 100%;
		              animation-delay: -0.32s;
		            }
		            &:after {
		              left: 100%;
		            }
		            &:before,
		            &:after {
		              content: '';
		              display: block;
		              position: absolute;
		              top: 0;
		              width: inherit;
		              height: inherit;
		            }
		          }
		          @keyframes loader-13 {
		            0%,
		            80%,
		            100% {
		              box-shadow: 0 1em 0 -1em;
		            }
		            40% {
		              box-shadow: 0 1em 0 -.2em;
		            }
		          }
				}
			}
		}
	}
}

.fotter{
	background:#002E5C;
	padding-bottom:20px;
	margin-top:auto;
	ul{
		li{
			color:white;
			font-size: 14px;
			padding:20px 0 0 0;
			font-weight: 500;
			margin-right:20px;
			border-bottom: 1px solid $blue;
		}
	}
}


section{
    .container{
    	background:white;
    	box-shadow: 0px -10px 80px 2px rgba(0, 0, 0, 0.2);
    	max-width:1000px;
    	header{
    		padding:15px 0;
    		border-bottom:1px solid #ccc;
    		display:flex;
    		justify-content:space-between;
    		text-align: center;
    		.mag{
    			display: flex;
    			.loop{
    				display:none;
    				&{
						@include breakpoints(mobile) {
							display: flex;
						}
					}
    			}
    			svg{
		    		width:95px;
		    		&{
						@include breakpoints(mobile) {
							width:71px;
						}
					}
		    	}
    		}
	    	ul{
	    		align-items: center;
	    		li{
	    			display:flex;
				    justify-content:space-between;
				    align-items:center;
				    height:40px;
	    			&.active{
	    				width:250px;
	    				border:1px solid #ccc;
	    			    padding:0 0px 0 8px;
	    			    &{
							@include breakpoints(mobile) {
								width:40px;
								padding:0 0px 0 0px
							}
						}
	    			    img,svg{
	    			    	width:50px;
	    			    	margin-right: -8px;
	    			    	&{
								@include breakpoints(mobile) {
									margin-right: -2px;
								}
							}
	    			    }
	    				p{
	    					font-size:12px;
	    					color: rgba(0,0,0,0.5);
	    					margin-bottom:0;
	    					&{
								@include breakpoints(mobile) {
									display: none;
								}
							}
	    				}
	    			}
	    			&.lock{
	    				background:rgb(20,141,234);
	    				border-radius:4px;
	    				padding:0 15px 0 8px;
	    				margin-left:20px;
	    				&{
							@include breakpoints(mobile) {
								padding:0 6px 0 6px;
							}
						}
                        img,svg{
	    			    	width:30px;
	    			    	width:30px;
	    			    }
	    			    p{
	    			    	margin-bottom:0;
	    			    	font-size: 14px;
	    			    	color:white;
	    			    	margin-left:10px;
	    			    	display: block;
	    			    	&{
								@include breakpoints(mobile) {
									display: none;
								}
							}
	    			    }
	    			}
	    		}
	    	}
    	}
    	.grayp{
    		padding-top:15px;
    		.left{
    			ul{
    				list-style: none;
    				padding-left:0;
    				li{
                       border-bottom:1px solid #ccc;
                       padding: 12px 0;
    				}
    			}
    		}
    		.lass{
    			&{
					@include breakpoints(medium) {
						display: none;
					}
				}
    		}
    		.right{
    			h5{
    				margin-top: 20px;
    			}
    			.forma{
    				background:#F2F2F2;
    				border:1px solid #E2E2E2;
    				border-radius:4px;
    				.step{
    					padding:15px;
    					border-bottom: 1px solid #ccc;
    					background:white;
    					ul{
    						align-items:center;
    						justify-content: space-between;
    						li{
    							width:25%;
    							display: flex;
    							align-items: center;
    							&{
									@include breakpoints(mobile) {
										justify-content: center;
									}
								}
    							span{
    								display:flex;
    								align-items: center;
    								justify-content: center;
    								width: 20px;
    								height: 20px;
    								border-radius: 100%;
    								font-size:13px;
    								font-weight: 600;
    								position: relative;
    								&.lava{
	    								&:after{
	    									position:absolute;
	    									background:white;
	    									width:20px;
	    									height:20px;
	    									content:'';
	    									top: 24px;
    										transform: rotate(45deg);
	    								}
    								}
    							}
    							p{
									font-size:11px;
									color: rgba(0,0,0,0.7);
									margin-bottom:0;
									margin-left:10px;
									display: block;
									font-weight:500;
									&{
										@include breakpoints(mobile) {
											display: none;
										}
									}
								}
    						}
    					}
    				}
    				.login{
    					padding:20px 0 0 0;
    					.err{
    						padding:5px 10px;
    						max-width:90%;
    						margin:0 auto;
    						border-radius:2px;
    						border:1px solid red;
    						font-size: 12px;
    						display: flex;
    						align-items: center;
    						background: white;
    						i{
    							font-size: 15px;color: red;
    							margin-right:10px;
    						}
    					}
    					.domin{
    						padding:20px 20px;
    					}
    					span{
    						font-size:18px;
    						display: block;
    						margin-bottom:50px;
    					}
    					p{
    						margin-top:50px;
    						font-size:15px;
    						color: rgba(0,0,0,0.8);
    					}
    					form{
    						label{
    							font-size: 12px;
    						}
    						.form-group{
    						    padding:0px 20px;
    						    &.oppo{
    						    	max-width: 400px;
    						    	&{
										@include breakpoints(motorola) {
											max-width: 100%;
										}
									}
    						    }
    						    &.mami{
					               width:100%;
				                }
    						    &{
									@include breakpoints(motorola) {
										max-width: 100%;
									}
								}
    							input{
    								height:28px;
    								border-radius:1px;
    								box-shadow:0px -1px 0px rgba(0, 0, 0, 0.1);
    								font-size:12px;
    								&:focus{
    									box-shadow:0px -1px 0px rgba(0, 0, 0, 0.1);
    									outline: 1px solid #127ED0;
    								}
    							}
    							&.auton{
    								max-width:200px;
    								&{
										@include breakpoints(motorola) {
											max-width: 100%;
										}
									}
    							}
    						}
    						.select{
    							display:flex;
    							justify-content:space-between;
    							max-width: 400px;
    						    padding:0px 20px;
    						    &{
									@include breakpoints(motorola) {
										max-width: 100%;
									}
								}
    							select{
    								height:32px;
    								font-size:13px;
    								width:49%;
    								option{
    									font-size:13px;
    								}
    							}
    						}
    					}
    				}
    				.bori{
						display: flex;
						justify-content: space-between;
						background: white;
						padding:10px 10px;
						width: 100%;
						margin-top:50px;
						.btn{
							background: #fff;
						    border-color: #ccc #ccc #999;
						    border-bottom: 1px solid #969696 !important;
						    border-left: 1px solid #c8c8c8 !important;
						    border-right: 1px solid #c8c8c8 !important;
						    color: #222;
						    i{
						    	font-size:10px;
						    }
						}
					}
    			}
    		}
    	}
    	.footter{
    		background: #F3F4F4;
    		padding:20px;
    		margin-top:50px;
    		img,svg{
    			width:100px;
    			margin-top:30px;
    		}
    		ul{
    			padding-left:0;
    			list-style:none;
    			li{
    				font-size: 13px;
    				color:rgba(0,0,0,0.7);
    				padding:5px 0;
    				cursor: pointer;
    				&.active{
    					font-weight:600;
    					font-size: 15px;
    					border-bottom: 1px solid #ccc;
    					cursor: text;
    				}
    				&:hover{
    					text-decoration: underline;
    					color:$blue_light;
    				}
    			}
    		}
    	}
    }
}


.bb{
	margin-top: 10px;
	padding:10px 10px;
	ul{
		padding-left:0;
		list-style:none;
		justify-content: center;
		li{
			font-size: 13px;
			font-weight:400;
			color:rgba(0,0,0,0.7);
			padding:5px 0;
			cursor: pointer;
			padding: 5px  10px;
			&:hover{
				text-decoration: underline;
				color:$blue_light;
			}
		}
	}
}


.loading{
	position:absolute;;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(252,252,252,0.6);
	display: flex;
	justify-content: center;
	align-items: center;

}