
// =================================
// ========== DEVIVES ==============
// =================================

@mixin breakpoints($point) {
	@if $point == "mobile" {
        @media (max-width:767px){
        	@content;
        }
	}@else if $point == "lg" {
		@media (max-width:867px){
        	@content;
        }
	}@else if $point == "medium" {
		@media (max-width:991px){
        	@content;
        }
	}@else if $point == "s_larg" {
		@media (max-width:1110px){
        	@content;
        }
	}@else if $point == "large" {
		@media (max-width:1280px){
        	@content;
        }
	}@else if $point == "xxl" {
		@media (max-width:1339px){
        	@content;
        }
	}@else if $point == "nokia" {
		@media (max-width:675px){
        	@content;
        }
	}@else if $point == "motorola" {
		@media (max-width:500px){
        	@content;
        }
	}@else if $point == "cc" {
		@media (max-width:421px){
        	@content;
        }
	}
}


